<section id="vio-all-forms">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),
					   :html => {:multipart => true, class: "vio-section vio-form"}) do |f| %>
	<legend> Sign Up </legend>
  <%= devise_error_messages! %>
	
	<fieldset>
		<div class="form-element">
			<label class="string required control-label" for="email">
				<abbr title="required">*</abbr> Email				
			</label>
			<%= f.email_field :email, required: 'required' %>
		</div>
	
		<div class="form-element">
			<label class="string required control-label" for="password">
				<abbr title="required">*</abbr> Password
			</label>
			<%= f.password_field :password, required: 'required' %>
		</div>
	
	</fieldset>

  <div><%= f.submit "Signup", class: 'btn btn-primary' %></div>
<% end %>

</section>

<%= render "devise/shared/links" %>
