<section id="vio-all-forms">
	
<%= form_for(resource, as: resource_name, url: password_path(resource_name), 
						 html: { method: :post, class: "vio-section vio-form" }) do |f| %>
  <legend> Forgot your password? </legend>
  <%= devise_error_messages! %>

	<fieldset>
		<div class="form-element">
			<label class="string required control-label" for="email">
				Email				
			</label>
			<%= f.email_field :email, required: 'required' %>
		</div>

		<div class="form-element form-option-buttons">
			<%= f.submit('Send me reset password instructions', class: 'btn btn-primary')%>
		</div>
	</fieldset>	

<% end %>

<%= render "devise/shared/links" %>

</section>