<% fields_for "user[blogs_attributes][]", blog do |b| %>
	<fieldset>
		<ul>
			<li>
				<label class="input-text">
				<span class="label"><%= b.label :url %></span>
				<%= b.text_field :url %>
				</label>
			</li>
			<li>
				<label class="input-text">
				<span class="label"><%= b.label :monthly_unique_visitor_count, "Monthly Unique Visitors" %></span>
				<%= b.text_field :monthly_unique_visitor_count %>
				</label>
			</li>
			<li>
				<label class="input-text">
				<span class="label"><%= b.label :other_category, "Topic/Genre of Your Website or Blog" %></span>
				<%= b.text_field :other_category %>
				</label>
			</li>
		</ul>
	</fieldset>
	<%= b.hidden_field :id, :value => blog.id if !blog.new_record? %>
<% end %>