<%= form.hidden_field :is_affiliate, :value => true %>
<%= form.hidden_field :id, :value => @user.id %>
<%= form.hidden_field :email, :value => @user.email %>

<% form.fields_for :affiliate_attributes, @user.affiliate do |affiliate| %>
	<%= affiliate.hidden_field :id, :value => @user.affiliate.id if @user.affiliate and !@user.affiliate.new_record? %>
	<%= affiliate.hidden_field :user_id, :value => @user.id %>
	<%= affiliate.hidden_field :status_updated_at, :value => Time.now.utc %>
	<%= affiliate.hidden_field :status_updated_by_user_id, :value => @user.id %>
	<%= affiliate.hidden_field :affiliate_rate, :value => Parameter["default_affiliate_rate"].decimal_value %>
	<%= affiliate.hidden_field :payout_days, :value => Parameter["default_affiliate_payout_days"].integer_value %>
	<%= affiliate.hidden_field :payout_minimum, :value => Parameter["default_affiliate_payout_minimum"].decimal_value %>
<% end %>

    <% if @errors and !@errors.blank?%>
    <h4 class="error">Fields in red are required</h4>
    <% end %>
    <%= error_messages_for 'user', :header_message => nil %>

	<h4>Payment Information</h4>
	
	
	<fieldset>
	<% form.fields_for :payee_attributes, @user.payee do |payee| %>
	<ul>
		<li>
			<label class="input-text">
			<span class="label <% if @errors and @errors.include?('full_name') %>error<% end %>"><%= payee.label :full_name, "Name* <small>(as shown on your income tax return)</small>" %></span>
			<% if @user.payee %>
				<%= payee.text_field :full_name %>
			<% else %>
				<%= payee.text_field :full_name, :value => @user.name %>
			<% end %>
			</label>
		</li>
		<li>
			<label class="input-text">
			<span class="label <% if @errors and @errors.include?('business_name') %>error<% end %>"><%= payee.label :business_name, "Business Name, if different from above" %></span>
			<%= payee.text_field :business_name %>
			</label>
		</li>
		<li>
			<label class="input-text">
			<span class="label <% if @errors and @errors.include?('payee_type') %>error<% end %>"><%= payee.label :payee_type, "Payee Type*" %></span>
			<%= payee.select(:payee_type, ["Corporation", "Individual", "LLC", "Partnership", "Sole Proprietor", "Other"], :prompt => "-- Select --") %> <%= error_message_on @user.payee, "payee_type" %>
			</label>
		</li>
		<li>
			<label class="input-text">
			<span class="label <% if @errors and @errors.include?('llc_classification') %>error<% end %>"><%= payee.label :llc_classification, "LLC Tax Classification" %></span>
			<%= payee.select :llc_classification, ["Corporation", "Partnership", "Disregarded Entity"], :prompt => "-- Select --" %>
			</label>
		</li>
		<li>
			<label class="input-text">
			<span class="label <% if @errors and @errors.include?('tin') %>error<% end %>"><%= payee.label :tin, "Taxpayer ID Number*<small>(9-digit SSN or Employer ID Number)</small>" %></span>
			<%= payee.text_field :tin %> <%= error_message_on @user.payee, "tin" %>
			</label>
		</li>
		<li>
			<label class="input-text">
			<span class="label <% if @errors and @errors.include?('street_1') %>error<% end %>"><%= payee.label :street_1, "Address 1*" %></span>
			<%= payee.text_field :street_1 %>
			</label>
		</li>
		<li>
			<label class="input-text">
			<span class="label"><%= payee.label :street_2, "Address 2" %></span>
			<%= payee.text_field :street_2 %>
			</label>
		</li>
		<li>
			<label class="input-text">
			<span class="label <% if @errors and @errors.include?('city') %>error<% end %>"><%= payee.label :city, "City*" %></span>
			<%= payee.text_field :city %>
			</label>
		</li>
		<li>
			<label class="input-text">
			<span class="label <% if @errors and @errors.include?('state') %>error<% end %>"><%= payee.label :state, "State*" %></span>
			<%= payee.text_field :state %>
			</label>
		</li>
		<li>
			<label class="input-text">
			<span class="label <% if @errors and @errors.include?('zip_code') %>error<% end %>"><%= payee.label :zip_code, "Zip Code* <small>(5-digits)</small>" %></span>
			<%= payee.text_field :zip_code %>
				<%= payee.hidden_field :id, :value => @user.payee.id if @user.payee and !@user.payee.new_record? %>
				<%= payee.hidden_field :user_id, :value => @user.id %>
			</label>
		</li>
	</ul>
	<% end %>
	</fieldset>
	<h4>Website Information</h4>
	<%= render :partial => "blog", :collection => @user.blogs %>
	
	<% if @errors and @errors.include?('terms')%>
    <h4 class="error">You must agree to the terms.</h4>
    <% end %>
	<fieldset><ul><li><label class="input-text"><%= check_box_tag "user[affiliate_terms]" %> * I agree to the <%= link_to "Affiliate Terms and Conditions", affiliate_terms_and_conditions_url, :target => "_blank" %> and certify that:</label></label></li></ul></fieldset>
    <p class="small-print"><em>
        1. The taxpayer identification number shown on this form is my correct taxpayer identification number (or I am waiting for a number to be issued to me), and<br/>
	    2. I am not subject to backup withholding because: (a) I am exempt from backup withholding, or (b) I have not been notified by the Internal Revenue Service (IRS) that I am subject to backup withholding as a result of a failure to report all interest or dividends, or (c) the IRS has notified me that I am no longer subject to backup withholding, and<br />
        3. I am a U.S. citizen or other U.S. person.
    </em></p>
    <p>
        <input type="submit" value="Submit" name="commit" id="affiliate_submit" class="button">
        <a class="cancel" href="/affiliates">Cancel</a> 
        
    </p>
    <p><br /><small>* All fields with an asterick are required.</small></p>
