<%= render :partial => "/users/tabs", :locals => { :active_tab => "affiliate_earnings" } %>

<div class='sidebar'></div>
<div class='content' id='earnings'>
  <h3>My Earnings</h3>
  <ul id='totals-to-date'>
	<li><strong>Subscribers Referred to Date:</strong> <%= @payouts[0] %></li>
    <li><strong>Earnings to Date:</strong> $<%= @payouts[1] %></li>
    <li><strong>Payouts to Date:</strong> $<%= @payouts[2] %></li>
    <li><strong>Balance:</strong> $<%= @payouts[3] %></li>
  </ul>
  <p class='table-intro'>The following is detailed information about your earnings by week.</p>
  <table cellpadding='0' cellspacing='1' class='earnings'>
    <tr class='top-header'>
      <th></th>
      <th colspan='2'>Subscriber Referrals*</th>
      <th colspan='3'>Affiliate Sales</th>
      <th class='total-earnings'></th>
    </tr>
    <tr class='sub-header'>
      <th>Week</th>
      <th>Subscribers</th>
      <th>Earnings</th>
      <th>Sales</th>
      <th>Amount</th>
      <th>Earnings</th>
      <th>Total Weekly Earnings</th>
    </tr>

	<% @results.each_hash do |row| %>
		<tr class="<%= cycle("", "even") -%>">
			<td><%= row['Week'] %></td>	
			<td><%= row['Subscribers'] %></td>	
			<td><%= '$' + row['SEarnings'] %></td>	
			<td><%= row['Sales'] %></td>	
			<td><%= '$' + row['Amount'] %></td>	
			<td><%= '$' + row['AEarnings'] %></td>	
			<td><%= '$' + row['Weekly Earnings'] %></td>	
		</tr>
	<% end %>
  </table>
  <small>*The reported numbers for Subscriber Referrals have a 7-day lag.</small>

</div>
