<div class="content" id="affiliate-signup">
	<h3>Become an Affiliate</h3>
	<div class="group clear">
		<div class="group column first" style="margin-top: 0; clear: none;">
			<p>Want to apply to become an affiliate? You must sign in or sign up (create an account) first!</p>
			<h4>Sign In</h4>
			<% form_for :session, :url => session_path(:return_to => affiliates_url) do |form| %>
				<fieldset class="form">
					<ul>
						<li>
							<label class="input-text">
								<span class="label">Email</span>
								<%= form.text_field :email %>
							</label>
						</li>
						<li>
							<label class="input-text">
								<span class="label">Password<%= link_to "Forgot password?", new_password_path, {:class => "label-link"} %></span>
								<%= form.password_field :password %>
							</label>
						</li>
					</ul>
				</fieldset>
				<p>
					<button class="sign-in-btn">Sign In</button>
				</p>
			<% end %>
		</div>
		<div class="divider"></div>
		<div class="group column" style="clear: none;">
			<h4>Sign Up</h4>
			<% url =(RAILS_ENV == 'development' ? account_url : account_url.sub(/^http:\/\//, "https://")) %>
			<% form_for :user, User.new, :url => url do |f| %>
				<fieldset class="form">
					<ul>
						<li>
							<label class="input-text">
						  	<span class="label">Your Area</span>
						  	<%
						    markets = Market.open.all(:conditions => {:is_open => true})
							  selected_market = current_market if current_market
						  	%>
						  	<% if selected_market %>
						  		<%= f.select "market_ids", markets.collect { |m| [m.name, m.id] }, { :prompt => "--Select--", :selected => selected_market.id } %>
								<% else %>
						  		<%= f.select "market_ids", markets.collect { |m| [m.name, m.id] }, { :prompt => "--Select--" } %>
								<% end %>
							</label>
						</li>
						<li>
							<label class="input-text">
						  	<span class="label">First Name</span>
								<%= f.text_field :first_name, :size => 30 %>
							</label>
						</li>
						<li>
							<label class="input-text">
						  	<span class="label">Last Name</span>
								<%= f.text_field :last_name, :size => 30 %>
							</label>
						</li>
						<li>
							<label class="input-text">
						  	<span class="label">Your Email</span>
								<%= f.text_field :email, :size => 30 %>
							</label>
						</li>
						<li>
							<label class="input-text">
						  	<span class="label">Password</span>
								<%= f.password_field :password, :size => 30 %>
							</label>
						</li>
						<li>
							<label class="input-text">
						  	<span class="label">Password confirm</span>
								<%= f.password_field :password_confirmation, :size => 30 %>
							</label>
						</li>
					
				<%= f.hidden_field :is_affiliate, :value => true %>
				
						<li>
							<label class="input-text">
								<%= f.check_box :terms %> I agree to the <a href="/terms-and-conditions" target="_blank">Terms and Conditions</a>
							</label>
						</li>
					</ul>
				</fieldset>

				<%= hidden_field_tag :return_to, affiliates_url %>

				<p>
					<button class="sign-up-btn">Sign Up</button>
				</p>
				
			<% end %>
		</div>
	</div>
</div>
