<section id="vio-all-forms">

<%= form_for([@product, @landing_page], :html => { :url => product_landing_pages_path, class: "vio-section vio-form" }) do |f| %>
  <legend> Create a Landing Page for <%=  @product.name %> </legend>
  <% if @landing_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@landing_page.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @landing_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
  <% end %>

	<fieldset>
		<div class="form-element">
			<%= f.label :name %>
			<%= f.text_field :name, required: 'required' %>
		</div>

		<div class="form-element">
 			<%= f.label :link %>
 			<%= f.text_field :link, required: 'required' %>
		</div>
		
		<div class="form-element form-option-buttons">
			<%= f.submit('Save', class: 'btn btn-primary')%>
			<%= link_to 'Cancel', products_path, class: 'btn' %>
		</div>
	</fieldset>	
					
<% end %>

</section>