<section >

	<div class="clearfix">
  	<div style="float:right;padding-bottom:10px;">
	    <%= link_to 'Add New Product', new_product_path, class: 'btn btn-cant-think-of-a-name-5 btn-xlarge'  %>
  	</div>
	</div>

	<ul id="vio-home-table" class="vio-table-maximized vio-table vio-section">

		<li class="widget-header clearfix">

			<div class="vio-table-td vio-product-id"> &nbsp; </div>
			<div class="vio-table-td vio-product-name"> Name </div>
			<div class="vio-table-td vio-product-price"> Price </div>
			<div class="vio-table-td vio-product-actions"> </div>

	 	</li>

		<% @products.each_with_index do |product, index| %>
		<li class="<%= cycle("even clearfix", "odd clearfix") -%>">

			<div class="vio-table-td vio-product-id"> <%= index + 1 %> </div>
			<div class="vio-table-td vio-product-name"> <%= link_to product.name, product_path(product) %> <br/> </div>
			<div class="vio-table-td vio-product-price"> <%= number_to_currency(product.price) %> </div>
			<div class="vio-table-td vio-product-actions"> 
				<%= link_to 'Edit', edit_product_path(product), class: 'btn btn-green-4 btn-primary edit' %>
				<%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-red-3" %>
			</div>

		</li>
		<% end %>
		
	</ul>

</section>